<div class="app-content">
<h2>Services works!</h2>
<h4>Angular Interview Questions</h4>
So you have learned the JavaScript programming language and you want to move on to learning JavaScript frameworks since, the modern industry requires developers to know various in-demand frameworks.
By learning and understanding various in-demand frameworks, you not only improve your knowledge but also give yourself a better chance of bagging a job.
<img src="https://static1.shine.com/l/m/images/blog/angular_8_Interview_Questions___Answers.png" style="padding: 10px;border: 1px solid #CCC;margin: 5px; display: block;">

In this article, we are going to learn about one of the most popular frameworks, Angular. We are going to understand the fundamentals and building blocks of Angular by answering the most frequently asked interview questions.
1. Why were client-side frameworks like Angular introduced?

Back in the day, web developers used VanillaJS and jQuery to develop dynamic websites but, as the logic of one's website grew, the code became more and more tedious to maintain. For applications that use complex logic, developers had to put in extra effort to maintain separation of concerns for the app. Also, jQuery did not provide facilities for data handling across views.
For tackling the above problems, client-side frameworks like Angular came into the picture, which made life easier for the developers by handling separation of concerns and dividing code into smaller bits of information (In the case of Angular, called Components).
Client-side frameworks allow one to develop advanced web applications like Single-Page-Application. Not that we cannot develop SPAs using VanillaJS, but by doing so, the development process becomes slower.
2. How does an Angular application work?

Every Angular app consists of a file named angular.json. This file will contain all the configurations of the app. While building the app, the builder looks at this file to find the entry point of the application. Following is an image of the angular.json file: 
Each component is declared with three properties:
<ul class="list-group">
    <li class="list-group-item">Selector - used for accessing the component</li>
    <li class="list-group-item">Template/TemplateURL - contains HTML of the component</li>
    <li class="list-group-item">StylesURL - contains component-specific stylesheets </li>
</ul>

<p><a routerLink="/home" class="nav-link" routerLinkActive="active">Back to Home</a></p>
</div>