<div class="app-content">
<div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12 ">
    
<h2>Krithi Shetty</h2>

Krithi Shetty is a Model And Actress. Her upcoming Movie is Uppena 2020). Krithi Shetty’s age is 16 years ( As in 2020)

<a class="navbar-item">
    <img src="https://scontent.fhyd2-1.fna.fbcdn.net/v/t1.6435-0/p526x296/194418628_340794314223142_3753698653097956674_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=d05fQn5QsK4AX8p-bAG&_nc_ht=scontent.fhyd2-1.fna&tp=6&oh=8545456e77948f01f4b02a696b9f62a9&oe=60E57238" style="width: 449px;display: block;float: left;padding: 10px; border: 1px solid #CCC;margin: 5px;">
  </a>

<strong>Getting route information</strong>
<p class="bd-lead">At one of her Bharatanatyam performances, theatre director Jai Theertha, noticed the actress's talent and convinced her to join Samasthi Sunday School of Drama. Consequently, she pursued a diploma course in drama and performed in a play titled ‘Preethi’, later having an opportunity to play the lead role in 'Sadarame’, performing all over the state of Karnataka. Krithi collaborated with director Sunil Kumar Desai, and won the lead role in the Kannada film Sarigama. At the same time, she met Murali from the Tamil film industry who offered her an opportunity to play the lead role in Sagakkal directed by Swami. The actress then starred in Suseenthiran's critically acclaimed Azhagarsamiyin Kuthirai (2011) alongside Inigo Prabhakaran, before featuring in another little known Tamil film Kondaan Koduthaan, the following year.</p>

<br>
Krithi Shetty aka Advaitha is an Indian Film Actress, who mainly works in Telugu Film Industry. She was born on Sunday, 23 Sep 2003 to Krishna and his wife Neethi in Mumbai, Maharashtra, India.

Krithi pursued a diploma course in drama and she also performed in a play titled ‘Preethi’. Which lead her to seize an opportunity to play the lead role in ‘Sadarame’, all over the state of Karnataka.

Before entering into acting she changed her name to “Advaitha” for numerological reasons but she did not like the way people pronounced the name. she changed her screen name from Advaitha to her original name in 2013.

Since childhood, Krithi appeared in several ads like Parle, Idea, Fashion unlimited, clean & clear, and dairy milk chocolate TV Commercials.
</div>
</div>
<div class="row" >
<div class="col-xs-12 col-md-4 col-lg-4">
    <div class="homeEachNewsSection">
        <h2 class="tollywood">Tollywood News dffds</h2>
    <ul class="homeEachNewsSectionList">
        <li>
        <a href="https://www.chitramala.in/mega-star-chiranjeevi-lucifer-movie-284397.html">
        <span class="homeNewsTabNewsTitle">
        Mega Star Chiranjeevi Lucifer Movie </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/aa19-title-to-be-unveiled-on-independence-day-284346.html">
        <span class="homeNewsTabNewsTitle">
        AA19 Title To Be Unveiled On Independence Day </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/puri-vijay-deverakondas-film-gets-announced-officially-284337.html">
        <span class="homeNewsTabNewsTitle">
        Puri-Vijay Deverakonda’s Film Gets Announced Officially </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/most-anticipated-train-episode-of-sarileru-gets-wrapped-up-284339.html">
        <span class="homeNewsTabNewsTitle">
        Most Anticipated Train Episode Of Sarileru Gets Wrapped Up </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/anand-deverakonda-signs-his-second-film-284340.html">
        <span class="homeNewsTabNewsTitle">
        Anand Deverakonda Signs His Second Film </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/chay-and-akhil-are-planning-to-celebrate-nags-birthday-in-style-284323.html">
        <span class="homeNewsTabNewsTitle">
        Chay And Akhil Are Planning To Celebrate Nag’s Birthday In Style </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/teja-and-gopichand-to-reunite-after-many-years-284321.html">
        <span class="homeNewsTabNewsTitle">
        Teja And Gopichand To Reunite After Many Years </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/viral-video-mahesh-babu-exhibiting-batting-skills-284319.html">
        <span class="homeNewsTabNewsTitle">
        Viral Video: Mahesh Babu Exhibiting Batting Skills </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/trailer-talk-theatrical-trailer-of-saaho-is-mind-blowing-284308.html">
        <span class="homeNewsTabNewsTitle">
        Trailer Talk: Theatrical Trailer Of Saaho Is Mind-blowing </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/first-day-collections-manmadhudu-2-284331.html">
        <span class="homeNewsTabNewsTitle">
        First Day Collections: Manmadhudu 2 </span>
        </a>
        </li>
        <li class="viewall"><a href="https://www.chitramala.in/news/tollywood-news/">More Tollywood News »</a></li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
    <div class="homeEachNewsSection">
        <h2 class="tollywood">Tollywood News</h2>
    <ul class="homeEachNewsSectionList">
        <li>
        <a href="https://www.chitramala.in/mega-star-chiranjeevi-lucifer-movie-284397.html">
        <span class="homeNewsTabNewsTitle">
        Mega Star Chiranjeevi Lucifer Movie </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/aa19-title-to-be-unveiled-on-independence-day-284346.html">
        <span class="homeNewsTabNewsTitle">
        AA19 Title To Be Unveiled On Independence Day </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/puri-vijay-deverakondas-film-gets-announced-officially-284337.html">
        <span class="homeNewsTabNewsTitle">
        Puri-Vijay Deverakonda’s Film Gets Announced Officially </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/most-anticipated-train-episode-of-sarileru-gets-wrapped-up-284339.html">
        <span class="homeNewsTabNewsTitle">
        Most Anticipated Train Episode Of Sarileru Gets Wrapped Up </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/anand-deverakonda-signs-his-second-film-284340.html">
        <span class="homeNewsTabNewsTitle">
        Anand Deverakonda Signs His Second Film </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/chay-and-akhil-are-planning-to-celebrate-nags-birthday-in-style-284323.html">
        <span class="homeNewsTabNewsTitle">
        Chay And Akhil Are Planning To Celebrate Nag’s Birthday In Style </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/teja-and-gopichand-to-reunite-after-many-years-284321.html">
        <span class="homeNewsTabNewsTitle">
        Teja And Gopichand To Reunite After Many Years </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/viral-video-mahesh-babu-exhibiting-batting-skills-284319.html">
        <span class="homeNewsTabNewsTitle">
        Viral Video: Mahesh Babu Exhibiting Batting Skills </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/trailer-talk-theatrical-trailer-of-saaho-is-mind-blowing-284308.html">
        <span class="homeNewsTabNewsTitle">
        Trailer Talk: Theatrical Trailer Of Saaho Is Mind-blowing </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/first-day-collections-manmadhudu-2-284331.html">
        <span class="homeNewsTabNewsTitle">
        First Day Collections: Manmadhudu 2 </span>
        </a>
        </li>
        <li class="viewall"><a href="https://www.chitramala.in/news/tollywood-news/">More Tollywood News »</a></li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-md-4 col-lg-4">
    <div class="homeEachNewsSection">
        <h2 class="tollywood">Tollywood News</h2>
    <ul class="homeEachNewsSectionList">
        <li>
        <a href="https://www.chitramala.in/mega-star-chiranjeevi-lucifer-movie-284397.html">
        <span class="homeNewsTabNewsTitle">
        Mega Star Chiranjeevi Lucifer Movie </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/aa19-title-to-be-unveiled-on-independence-day-284346.html">
        <span class="homeNewsTabNewsTitle">
        AA19 Title To Be Unveiled On Independence Day </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/puri-vijay-deverakondas-film-gets-announced-officially-284337.html">
        <span class="homeNewsTabNewsTitle">
        Puri-Vijay Deverakonda’s Film Gets Announced Officially </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/most-anticipated-train-episode-of-sarileru-gets-wrapped-up-284339.html">
        <span class="homeNewsTabNewsTitle">
        Most Anticipated Train Episode Of Sarileru Gets Wrapped Up </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/anand-deverakonda-signs-his-second-film-284340.html">
        <span class="homeNewsTabNewsTitle">
        Anand Deverakonda Signs His Second Film </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/chay-and-akhil-are-planning-to-celebrate-nags-birthday-in-style-284323.html">
        <span class="homeNewsTabNewsTitle">
        Chay And Akhil Are Planning To Celebrate Nag’s Birthday In Style </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/teja-and-gopichand-to-reunite-after-many-years-284321.html">
        <span class="homeNewsTabNewsTitle">
        Teja And Gopichand To Reunite After Many Years </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/viral-video-mahesh-babu-exhibiting-batting-skills-284319.html">
        <span class="homeNewsTabNewsTitle">
        Viral Video: Mahesh Babu Exhibiting Batting Skills </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/trailer-talk-theatrical-trailer-of-saaho-is-mind-blowing-284308.html">
        <span class="homeNewsTabNewsTitle">
        Trailer Talk: Theatrical Trailer Of Saaho Is Mind-blowing </span>
        </a>
        </li>
        <li>
        <a href="https://www.chitramala.in/first-day-collections-manmadhudu-2-284331.html">
        <span class="homeNewsTabNewsTitle">
        First Day Collections: Manmadhudu 2 </span>
        </a>
        </li>
        <li class="viewall"><a href="https://www.chitramala.in/news/tollywood-news/">More Tollywood News »</a></li>
        </ul>
    </div>
</div>
</div>
</div>
