.app-content {
    margin-top: 120px;
    min-height: 740px;
    padding: 30px;
    background: #FFF;
    border-top: 3px solid #f19934;
}
.homeEachNewsSectionList {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 15px 20px;
}
.homeEachNewsSectionList li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    width: 100%;
    clear: both;
}
.homeEachNewsSectionList li a {
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
}
.homeNewNewsSection .homeEachNewsSection h2.tollywood {
    border-top: 3px solid #8852c5;
}
body {
    background-color: #dfdfdf !important;
}
